<div class="contact">
    <h3>Feel free to get in touch with me at any time!</h3>
    <ul>
        <li>
            <a href="mailto:me@robertkim.io" target="_blank">
                <span id="contact_links" class="icon-gmail hover-scale"></span>
            </a>
            <p>me@</p>
            <p>robertkim.io</p>
        </li>
        <li>
            <a href="https://www.github.com/rkty13" target="_blank">
                <span id="contact_links" class="icon-github-01 hover-scale"></span>
            </a>
            <p>GitHub</p>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/roberttykim" target="_blank">
                <span id="contact_links" class="icon-linkedin hover-scale"></span>
            </a>
            <p>LinkedIn</p>
        </li>
        <li>
            <a href="https://www.facebook.com/rkty13" target="_blank">
                <span id="contact_links" class="icon-facebook hover-scale"></span>
            </a>
            <p>Facebook</p>
        </li>
        <li>
            <a href="https://www.twitter.com/rkty13" target="_blank">
                <span id="contact_links" class="icon-twitter-3 hover-scale"></span>
            </a>
            <p>Twitter</p>
        </li>
    </ul>
</div>
