<div class="contact">
    <h3>Feel free to get in touch with me at any time!</h3>
    <ul>
        <li>
            <a href="mailto:me@robertkim.io" target="_blank">
                <i id="contact_links" class="fa fa-envelope-o fa-4x hover-scale"></i>
            </a>
            <p>me@</p>
            <p>robertkim.io</p>
        </li>
        <li>
            <a href="https://www.github.com/rkty13" target="_blank">
                <i id="contact_links" class="fa fa-github fa-4x hover-scale"></i>
            </a>
            <p>GitHub</p>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/roberttykim" target="_blank">
                <i id="contact_links" class="fa fa-linkedin fa-4x hover-scale"></i>
            </a>
            <p>LinkedIn</p>
        </li>
        <li>
            <a href="https://www.facebook.com/rkty13" target="_blank">
                <i id="contact_links" class="fa fa-facebook fa-4x hover-scale"></i>
            </a>
            <p>Facebook</p>
        </li>
        <li>
            <a href="https://www.twitter.com/rkty13" target="_blank">
                <i id="contact_links" class="fa fa-twitter fa-4x hover-scale"></i>
            </a>
            <p>Twitter</p>
        </li>
    </ul>
</div>
