<div class="education">
    <div class="school">
        <h2>Bergen County Academies
            <span>Academy for Technology and Computer Science</span>
        </h2>
        <div class="pure-g">
            <div class="grade pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                <h3>Freshman</h3>
                <div class="time">2012 - 2013</div>
                <div class="course">
                    Intro to Computer Science
                </div>
                <div class="course">
                    Intro to Networking
                </div>
                <div class="course">
                    Intro to Java Programming
                </div>
            </div>
            <div class="grade pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                <h3>Sophomore</h3>
                <div class="time">2013 - 2014</div>
                <div class="course">
                    Artificial Intelligence
                </div>
                <div class="course">
                    Java Programming
                </div>
                <div class="course">
                    Linux Shell Programming
                </div>
            </div>
            <div class="grade pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                <h3>Junior</h3>
                <div class="time">2014 - 2015</div>
                <div class="course">
                    AP Calculus AB
                </div>
                <div class="course">
                    AP Computer Science
                </div>
                <div class="course">
                    AP Microeconomics
                </div>
                <div class="course">
                    Android App Development I/II/III
                </div>
                <div class="course">
                    Processors I/II/III
                </div>
            </div>
            <div class="grade pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
                <h3>Senior</h3>
                <div class="time">2015 - Present</div>
                <div class="course">
                    Data Structures
                </div>
                <div class="course">
                    Data Structures CS
                </div>
                <div class="course">
                    Linear Algebra & Differential Equations
                </div>
            </div>
        </div>
    </div>
</div>