<div class="experience">
    <ul>
        <li>
            <div class="text">
                <span class="links">
                    <a href="http://www.hackbca.com" target="_blank"><i class="fa fa-link hover-scale" target="_blank"></i></a>
                </span>
                <h2>hackBCA</h2>
                <div class="tags">
                    <div>Director of Technology</div>
                </div>
                <p class="desc">hackBCA is one of the largest student run high school hackathons in the nation. I was in charge of managing all front end work necessary for the entire site and any other technical needs. This included all backend staff tools and all other static pages. I also helped write much of the backend as well. Aside from technical tasks, I also worked with all of the other board members to organize the entire event as a whole. I helped contact sponsors, mentors, and decide on food as well as other logistical matters. During the event, I was in charge of making sure the checking in and out process went smoothly.</p>
            </div>
            <img class="screenshot" src="/images/hackbcass2.jpg" />
        </li>
        <li>
            <div class="text">
                <span class="links">
                    <a href="https://perrycap.com" target="_blank"><i class="fa fa-link hover-scale" target="_blank"></i></a>
                </span>
                <h2>Perry Capital LLC</h2>
                <div class="tags">
                    <div>Software Engineering Intern</div>
                </div>
                <p class="desc">As a Software Engineering Intern, I was in tasked with abstracting SQL code to allow for better maintainability in the future. I was tasked with making changes to some of their key software that employees at the company use in order to create Form PF reports. I also learned about finance and investing through other employees at Perry Capital.</p>
            </div>
            <img class="screenshot" src="/images/perrycapss.jpg" />
        </li>
        <li>
            <div class="text">
                <span class="links">
                    <a href="https://medialets.com" target="_blank"><i class="fa fa-link hover-scale" target="_blank"></i></a>
                </span>
                <h2>Medialets</h2>
                <div class="tags">
                    <div>Software Engineering Intern</div>
                </div>
                <p class="desc">As a Software Engineering Intern, I worked with 2 other interns to create an internal graphical dashboard for company statistics using d3.js, Flask, and SQLAlchemy. I mostly dealt with backend and database management which included most of the MVC structure. This required a deep understanding of the company's business and how they structured their databases. I had to create methods to aggregate the statistical data from the company's existing database and pass the information along to the views that mostly the other interns worked on.</p>
            </div>
            <img class="screenshot" src="/images/medialetsss.jpg" />
        </li>
        <li>
            <div class="text">
                <span class="links">
                    <a href="https://www.blacklapel.com" target="_blank"><i class="fa fa-link hover-scale"></i></a>
                </span>
                <h2>Black Lapel</h2>
                <div class="tags">
                    <div>Web Development Intern</div>
                </div>
                <p class="desc">As a Web Development Intern, I worked closely with the website developers as well as the designer to update and maintain the Black Lapel website. I also created new redesigned webpages from photoshop mockups. I learned a lot about HTML, CSS, Javascript, PHP, as well as many web design principles and development practices. I also learned about basic online marketing through the use of Optimizely and helped the Black Lapel team to track user behavior at important processes on their site. </p>
            </div>
            <img class="screenshot" src="/images/blacklapel.jpg" />
        </li>
    </ul>
</div>
