<ul class="projects">
    <li>
        <img src="/images/matroxss.png" />
        <div class="text">
            <h2>matrox</h2>
            <span class="links">
                <a href="http://github.com/rkty13/matrox" target="_blank">
                    <i class="fa fa-github hover-scale"></i>
                </a>
            </span>
            <div class="tags">
                <div>Python</div>
            </div>
            <p class="desc">Matrox is a linear algebra library currently capable of basic matrix operations, factorizations (LU, LUP, LDU, etc.), and Gaussian elimination. To write this, I am following Gilbert Strang's textbook, "Linear Algebra and Its Applications, 4th Edition" as well as concepts/methods I find on the internet. This is currently a side project that I continue to work on during my free time.</p>
        </div>
    </li>
    <li>
        <img src="/images/hackbca3ss.png" />
        <div class="text">
            <h2>hackBCA III Website</h2>
            <span class="links">
                <a href="http://2016.hackbca.com" target="_blank">
                    <i class="fa fa-link hover-scale"></i>
                </a>
                <a href="http://github.com/hackbca/hackbcathree" target="_blank">
                    <i class="fa fa-github hover-scale"></i>
                </a>
            </span>
            <div class="tags">
                <div>Flask</div>
                <div>Sendgrid API</div>
                <div>Twilio API</div>
                <div>MongoDB</div>
                <div>Amazon EC2/S3</div>
            </div>
            <p class="desc">The hackBCA III website called for a complete ground-up rebuilding from the hackBCA II website. This meant converting to an MVC framework, modularizing many of the features of the backend, and enforcing a schema on our MongoDB database. Staff tools were also delegated to its own web application in order to keep the two different codebases separate. Keeping our code open-source was also very important, so all of our code for hackBCA III is available on Github.</p>
        </div>
    </li>
    <li>
        <img src="/images/hackbcass.png" />
        <div class="text">
            <h2>hackBCA II Website</h2>
            <span class="links">
                <a href="http://2015.hackbca.com" target="_blank">
                    <i class="fa fa-link hover-scale"></i>
                </a>
            </span>
            <div class="tags">
                <div>Flask</div>
                <div>Sendgrid API</div>
                <div>Twilio API</div>
                <div>MongoDB</div>
                <div>Heroku</div>
            </div>
            <p class="desc">hackBCA is one of the largest student organized hackathons on the east coast. It is held annually at the Bergen County Academies in Hackensack, NJ. The hackBCA II website was created in order to provide information about the event as well as allow students and mentors to sign up for the event. There were also many internal tools created in order to manage acceptances, check-ins, searching, etc.</p>
        </div>
    </li>
    <li>
        <img src="/images/pigitss.jpg" />
        <div class="text">
            <h2>Pi Git</h2>
            <span class="links">
                <a href="http://challengepost.com/software/pi-git" target="_blank">
                    <i class="fa fa-link hover-scale"></i>
                </a>
                <a href="https://github.com/rkty13/pigit" target="_blank">
                    <i class="fa fa-github hover-scale"></i>
                </a>
            </span>
            <div class="tags">
                <div>Raspberry Pi</div>
                <div>Flask</div>
            </div>
            <p class="desc">Pi Git was created in order to solve an issue that many hackers face at hackathons: bad wifi. Because many people rely on github for collaboration, bad wifi prevents hackers from contributing to a project. Pi Git uses a Raspberry Pi to create a Git server that users can connect to via its own wifi network and be able to collaborate locally without an internet connection. This project won first place at IronHacks.</p>
        </div>
    </li>
    <li>
        <img src="/images/thecleansleepss.png" />
        <div class="text">
            <h2>The Clean Sleep</h2>
            <span class="links">
                <a href="https://github.com/rkty13/thecleansleep" target="_blank">
                    <i class="fa fa-github hover-scale"></i>
                </a>
            </span>
            <div class="tags">
                <div>Flask</div>
                <div>Google Places API</div>
                <div>MongoDB</div>
                <div>Heroku</div>
            </div>
            <p class="desc">The Clean Sleep was made at HackRU Fall 2014. It displays reviews of hotels based on their cleanliness. Users can create reviews of a hotel they visit which are stored in a MongoDB database, as well as viewing reviews that other people have made.</p>
        </div>
    </li>
    <li>
        <img src="/images/factsmeupss.png" />
        <div class="text">
            <h2>FactsMeUp!</h2>
            <span class="links">
                <a href="https://github.com/kenrhe/catfacts" target="_blank">
                    <i class="fa fa-github hover-scale"></i>
                </a>
            </span>
            <div class="tags">
                <div>Flask</div>
                <div>Twilio API</div>
                <div>MongoDB</div>
                <div>Heroku</div>
            </div>
            <p class="desc">FactsMeUp! was created at the Breaking Barriers Hackathon in August 2014. It allows users to send a text message of a fact to a desired phone number via the Twilio API. Users can also create and update lists of facts that others have created.</p>
        </div>
    </li>
    <li>
        <img src="/images/bbchatss.png" />
        <div class="text">
            <h2>BBChat</h2>
            <span class="links">
                <a href="https://github.com/rkty13/BriBorChat" target="_blank">
                    <i class="fa fa-github hover-scale"></i>
                </a>
            </span>
            <div class="tags">
                <div>Java Swing</div>
                <div>Java Networking</div>
            </div>
            <p class="desc">BBChat was created as a final project in our Java Programming class. Clients can connect to the server and communicate with other users in a global chat room. It also features customizable fonts/font sizes, chat noise, as well as a command feature.</p>
        </div>
    </li>
</ul>
