<div class="skillset">
    <ul>
        <div class="skill-group">
            <div class="skill-cat">LANGUAGES</div>
            <li>
                <img id="skill" src="/icons/html5-logo.png" />
                <p>HTML5</p>
            </li>
            <li>
                <img id="skill" src="/icons/css3-logo.png" />
                <p>CSS3</p>
            </li>
            <li>
                <img id="skill" src="/icons/python-logo.png" />
                <p>Python</p>
            </li>
            <li>
                <img id="skill" src="/icons/java-logo.png" />
                <p>Java</p>
            </li>
            <li>
                <img id="skill" src="/icons/javascript-logo.png" />
                <p>Javascript</p>
            </li>
        </div>
        <div class="skill-group">
            <div class="skill-cat">TECHNOLOGIES</div>
            <li>
                <img id="skill" src="/icons/jquery-logo.png" />
                <p>jQuery</p>
            </li>
            <li>
                <img id="skill" src="/icons/flask-logo.png" />
                <p>Flask</p>
            </li>
            <li>
                <img id="skill" src="/icons/nodejs-logo.png" />
                <p>Node.js</p>
            </li>
            <li>
                <img id="skill" src="/icons/heroku-logo.png" />
                <p>Heroku</p>
            </li>
            <li>
                <img id="skill" src="/icons/git-logo.png" />
                <p>Git</p>
            </li>
            <li>
                <img id="skill" src="/icons/android-logo.png" />
                <p>Android</p>
            </li>
            <li>
                <img id="skill" src="/icons/mongodb-logo.png" />
                <p>MongoDB</p>
            </li>
        </div>
    </ul>
</div>
